
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: black;
    color: #ccc;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.enter-button {
    padding: 15px 30px;
    font-size: 1.5em;
    color: white;
    background-color: #ff5722; /* A vibrant color for the button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
}

.enter-button:hover {
    background-color: #e64a19; /* Darker shade on hover */
}