<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Dojo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" style="background: none; box-shadow: none;">
        <h1><%= name %></h1>
        <p>Practice, and come back when you are a real Samurai.</p>
		<a href="/logout?token=<%= token %>" class="enter-button">Leave the Dojo</a>
    </div>
</body>
</html>
