<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Dojo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Dojo</h1>
        <p>Prepare yourself for a journey of discipline and skill.</p>
		<a href="<%= gate_uri %>" class="enter-button">Enter the Dojo</a>
    </div>
</body>
</html>
